<div class="container d-flex flex-column align-items-center pt-5">

  <mat-spinner *ngIf="spinner"></mat-spinner>

  <form *ngIf="!spinner && !sent"
    (ngSubmit)="sendMessage()"
    [formGroup]="contactForm" 
    style="max-width: 400px;"
    class="m-3 example-form d-flex flex-column align-itmes-center" >
    
    <mat-form-field class="m-2"  appearance="fill">
      <mat-label>Nombre: </mat-label>
      <input 
        matInput 
        placeholder="Ingresa tu nombre"
        formControlName="fullName" 
        required
        type="text">
        <mat-error>Debe ingresar un nombre.</mat-error>
    </mat-form-field>

    <mat-form-field class="m-2"  appearance="fill">
      <mat-label>Email: </mat-label>
      <input 
        matInput 
        placeholder="Ingresa tu email"
        formControlName="email" 
        required
        type="email">
        <mat-error>Ingrese un email.</mat-error>
    </mat-form-field>

    <mat-form-field class="m-2"  appearance="fill">
      <mat-label>Asunto:</mat-label>
      <input 
        matInput 
        placeholder="Ingrese asunto"
        formControlName="subject" 
        type="text">
        <mat-error>No mas de 100 caracteres.</mat-error>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
      <mat-label>Mensaje:</mat-label>
      <textarea 
          required
          matInput 
          placeholder="Ingresa tu mensaje"
          formControlName="message" 
      ></textarea>
    </mat-form-field>

    <button type="submit" class="m-2 btn btn-info">Enviar</button>
  </form>

  <div *ngIf="sent">
    
  </div>

</div>
