<div class="container py-3">
  <div *ngIf="products">
    <div *ngFor="let product of products" class="d-flex w-100 mt-2 pt-3" style="border-top: 1px solid rgb(235, 240, 248);">
      <figure  style="width: 37%">
        <img class="img-fluid" [src]="'/assets/' + product.image" [alt]="product.title" style="border-radius: 0.3em;">
      </figure>
      <div class="d-flex flex-column justify-content-between p-4 pl-4" style="width: 63%;" >
        <div >
          <h4 class=" h5">{{ product.title}}</h4>
          <p >{{ product.description }}</p>
        </div>
        <div class="text-center">
          <span >${{ product.price}}</span>
        </div>
      </div>
      
    </div>
  </div>
</div>