@import '~bootstrap/dist/css/bootstrap.min.css';

::ng-deep {
    .app-products {
        .shelving {
            border-left: rgba( 64, 144, 229, 0.5) solid 16px;
            border-right: rgba( 64, 144, 229, 0.5) solid 16px;
            border-top: rgba( 237, 64, 4, 0.67) solid 9px;
            border-bottom: rgba( 237, 64, 4, 0.67) solid 9px;
        }
    }
}