<div class="main d-flex flex-column container">
    <div class="alpha d-flex flex-column justify-content-center align-items-center p-5">
        <div class="black-content  d-flex flex-column justify-content-center align-items-center p-5">
            <h3 class="h3 text-center">{{ alphaContain.h3 }}</h3>
            <p class="text-center">{{ alphaContain.p }}</p>
            <button class="action-sales-btn">{{ alphaContain.button }}</button>
        </div>
    </div>
    <div class="beta">
        <div class="beta-content d-flex flex-column p-5 h-100 justify-content-end align-items-start">
            <h3 class="h5">{{ betaContain.h3 }}</h3>
            <p>{{ betaContain.p }}</p>
            <button class="action-sales-btn">{{ betaContain.button }}</button>
        </div>
    </div>
</div>