<div class="product d-flex flex-column">
    <div class="cinco" style="overflow: hidden;">
        <img class="img-fluid" src="/assets/productos/herramientas-2.jpeg" alt="lindas herramientas">
    </div>
    <div class="tres d-flex align-items-end" style="height: 400px;">
        <div class="dos h-100 d-flex flex-column justify-content-between"  >
            <h4 class="h4">Taladro</h4>
            <p>Taladro marca ACME, modelo MATCH4, potencia: 5000w</p>
        </div>
        <div class="uno">
            <p>$1000</p>
        </div>
    </div>
</div>
