::ng-deep {
    .navigation-bar {
        ul {
            list-style: none;
            margin-bottom: 0;
            font-size: 0.8em;
        }
        
        li a {
            text-decoration: none;
            color: #d9dcdf;
        }
        
        li a:hover {
            color: white;
        }
        .is-active {
            background:  #d9dcdf;
            border-radius: .2em;
        }
        .is-active span {
            color: #002FA7;
        }
        .is-active span {
            font-weight: 600;
        }
    }
}